// 仅用于编写我们自己系统框架的主题色变量，常以 $ 开头

$--layout-setting-bg: #052b6c; // 最左侧功能栏背景颜色
$--layout-setting-color: #ffffff; // 最左侧功能栏文字颜色
$--layout-navMenu-bg: #1955BE; // 左侧菜单栏整体背景颜色
$--layout-navMenu-item-bg: #1955BE; // 左侧菜单栏每一项菜单的背景颜色
$--layout-navMenu-item-active-bg: #4286FF; // 左侧菜单栏当前激活菜单的背景颜色
$--layout-navMenu-color: #FFFFFF; // 左侧菜单栏文字颜色
